@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

h1{color: rgb(0, 0, 0);}
body{color: rgb(0, 1, 7);

    background-color: rgb(183, 184, 187);


   font-size:  16px;

font-weight: normal;
font-family:  'Roboto', sans-serif;
}



.avatar {

    width: 200px;

    border-radius: 20px;
    box-shadow:  4px 4px 4px  rgb(1, 28, 36);
}

.info p {
    color: rgb(77, 65, 192);
font-style:italic ;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    list-style: 1px;
}

.info {
    margin-bottom: 40px;
    display: flex;
    text-align: center
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}
.контакты {
    background-color: dimgray;
    border-radius: 20px;
    width: 200px;
    padding: 15px 100px;
    border: 5px solid rgb(33, 143, 177);
    margin: 30px;
    margin-bottom: 20px;
}   

.block { 
    max-width: 100%;
}

.box-model > div  {
    background: rgb(255, 255, 255);
height: 200px;
width: 100%;
float: left;
border: 4px solid rgb(33, 143, 177);
box-sizing: border-box;
border-radius: 20px;
}

a { color: black;
text-decoration: none;}


a:hover { text-decoration: underline ;}

a:active {color: blue;}

a:visited {color: blueviolet;}

.card {
    padding: 15px  40px;
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-right: 50%;
border-radius: 20px;
border: 50px;
}

  .bg-yellow {background: #ffe4c4 ;}

  .bg-green { background: #90ee90;}

  .bg-red {background: #e79f9f;}

  .bg-purple { background: rgb(183, 184, 187);}

  .list {
      
    
    padding: 0px 20px ;
  }


  .list li {
      color: rgb(0, 0, 0);
  }
  .table {
      width: 100%;
  }
  .table td {
      padding-bottom: 40px;
  }
  .table td:nth-child(1), 
  .table td:nth-child(2) {
      color: rgb(221, 60, 11);
  }
  .table td:nth-child(3) {
      color: rgb(19, 18, 8);
  }

  .table tr:nth-child(1) {
      background: rgb(180, 175, 169);
  }

  .contact h2 {

    text-align: center;
  }

  .form-group label{
display:block ;

  }

  .form-group input {
      width: 100%;

      box-sizing: border-box;

      border: none;

      border-bottom: 1px solid floralwhite;
      border-radius: 20px;
outline: none;

font-family: inherit;

background: transparent;
  }
  .row {
display: flex;
margin-bottom: 20px;
  }

  .row > .form-group {
width: 50%;
margin-bottom: 20px;

  }

  .info-text {
      margin-left: 40px;
  }
  .btn {
      background: black;
      color: white;
      border-radius: 10px;
     cursor: pointer;
  }

  .btn:hover {

    opacity: 0.9;
  }